body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #67ff7b;
  padding: 30px;
  border-radius: 15px;
  width: 350px;   
}

#display {
  width: 100%;
  height: 70px;        
  margin-bottom: 15px;
  text-align: right;
  font-size: 32px;     
  padding-right: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;           
}

button {
  height: 65px;        
  font-size: 22px;     
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2176e4;
}

.equal {
  grid-row: span 2;
  background: #ff9800;
  color: white;
}

.zero {
  grid-column: span 2;
}
